@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top,#1853f3, rgb(148, 211, 240));
    }
    
    #login{
        width: 80vw;
    }

    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    

    #formulario{
        float: right;
        width: 70%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top,#1853f3, rgb(148, 211, 240));
    }
    
    #login{
        width: 85vw;
        height: 600px;
    }

    #imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    

    #formulario{
        float: right;
        width: 50%;
        height: 100%;
    }
}