@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    background-color: #1853f3;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 525px;
    width: 260px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.383);

    transition: width 0.4s, height 0.3s;
}

#imagem{
    background-image: url(../imagens/pexels-raditya-jpg-49217389-32108544.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    display: block;
}

#formulario{
    padding: 15px;
    display: block;
}

#formulario h1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.548);
}

#formulario p{
    text-align: justify;
    font-size: 0.9em;
    margin-bottom: 7px;
    font-size: 1em;
}

.campo{
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid black;
}

.material-symbols-outlined{
    transform: translateY(5px);
}

.campo input{
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 5px;
    display: inline-block;
    width: 80%;
    height: 100%;
    border: none;
}

form > input[type=submit], [type=button]{
    display: block;
    margin: auto;
    width: 90%;
    height: 35px;
    background-color: #1852f3c6;
    color: white;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.888);
    border: none;
    font-size: 1em;
}

form > input[type=submit]:hover, [type=button]:hover{
    background-color:#1547d0c6;
}