@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    background-color: #1853f3;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.383);

    transition: width 0.4s, height 0.3s;
}

#imagem{
    background-image: url(../imagens/pexels-raditya-jpg-49217389-32108544.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    display: block;
}

#formulario{
    padding: 10px;
    display: block;
}

#formulario h1{
    text-align: center;
    font-size: 1.5em;
}

#formulario p{
    text-align: justify;
    font-size: 0.9em;
}

